body {
    background:#333;
    font-size: 16px;
    font-family: Lato, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 2em;
}

section form {
    margin: 0 0 2em 0;
    border: 1px solid white;
    padding: 3em;
}

section form section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

aside {
    width: 50%;
}

form label {
    display: block;
    margin: 1.5em 0 0;
    padding: 0.5em 0;
}

form input[type=text],
form input[type=number],
form select {
    padding: 1em 2em;
    width: 75%;
}

form select {
    width: 100%;
}

form input[type=submit] {
    width: 100%;
    margin: 3em 0 0;
    padding: 1em 2em;
}

form input[type="text"]#set_name {
    width: calc(100% - 4.25em);
}