html {
  box-sizing: border-box; }
  html * {
    box-sizing: inherit;
    padding: 0; }
    html *::placeholder {
      color: #aaa; }

body {
  background: #333;
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #fff;
  display: grid;
  justify-content: center;
  padding: 2em; }
  body h1 {
    font-size: 2em;
    text-transform: uppercase; }

section {
  display: grid;
  place-items: center; }
  section form {
    border: 2px solid #fff;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    margin: 0 0 2em 0;
    padding: 1.5em 3em;
    width: 60%; }
    @media screen and (max-width: 950px) {
      section form {
        width: 90%; } }
    section form input,
    section form input[type=submit],
    section form button {
      border: 3px solid transparent; }
      section form input:focus,
      section form input[type=submit]:focus,
      section form button:focus {
        background-color: #002f5f;
        color: #fff;
        border-color: #2085e8;
        outline: none; }
    section form h2 {
      margin: 0;
      display: grid;
      align-self: center; }
    section form button {
      width: 100%;
      background: #fff;
      border: none; }
    section form label {
      display: grid;
      gap: 1em; }
    section form input,
    section form button,
    section form select {
      padding: 1em 2em;
      text-transform: uppercase;
      transition: background-color 0.25s ease, border 0.25s ease, color 0.25s ease;
      width: 100%; }
    section form input[type=submit]:hover,
    section form button:hover,
    section form select:hover {
      cursor: pointer; }
    section form input[type=number]::-webkit-inner-spin-button {
      display: none; }
    section form .score-wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      margin: 0;
      padding: 0; }
      section form .score-wrapper .score-buttons {
        display: grid;
        place-items: center;
        cursor: pointer;
        background: #fff;
        color: #000;
        border: 2px solid transparent;
        transition: background-color 0.25s ease, border 0.25s ease, color 0.25s ease; }
        section form .score-wrapper .score-buttons:hover {
          color: #fff;
          border-color: #2085e8;
          background-color: #002f5f; }
      section form .score-wrapper input[type=number] {
        text-align: center; }
    section form input[type=submit],
    section form button {
      border: 2px solid transparent; }
      section form input[type=submit]:hover,
      section form button:hover {
        color: #fff;
        border-color: #2085e8;
        background-color: #002f5f; }
    section form select:invalid {
      color: #aaa; }
    section form select [disabled] {
      color: #aaa; }
    section form select option {
      color: #000; }
    section form aside {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2em 1em; }
      @media screen and (max-width: 950px) {
        section form aside {
          grid-template-columns: unset;
          grid-template-rows: 1fr; }
          section form aside #form-reset {
            order: 1; }
          section form aside h2 {
            order: 2; }
          section form aside label[for=left_name] {
            order: 1; }
          section form aside label[for=left_score] {
            order: 2; }
          section form aside label[for=left_character] {
            order: 3; }
          section form aside #left_character_image {
            order: 4; }
          section form aside label[for=right_name] {
            order: 5; }
          section form aside label[for=right_score] {
            order: 6; }
          section form aside label[for=right_character] {
            order: 7; }
          section form aside #right_character_image {
            order: 8; } }
      section form aside img {
        width: 100%;
        height: auto;
        filter: grayscale(1);
        transition: filter 0.25s ease; }
    section form div {
      position: sticky;
      bottom: 0;
      background-color: #333;
      padding: 1.5em 0;
      margin: 0 0 -1.5em;
      display: grid;
      grid-template-columns: 8fr 1fr;
      gap: 1em; }
      section form div input[type=submit] {
        width: 100%;
        background: #fff; }
      section form div button {
        border: 2px solid #fff;
        background-color: #fff;
        color: #000;
        padding: 0 1em 0.25em 1em; }
